@font-face {
  font-family: 'iconfont';
  /* project id 2114150 */
  src: url('//at.alicdn.com/t/font_2114150_c1clu1ayc5.eot');
  src: url('//at.alicdn.com/t/font_2114150_c1clu1ayc5.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2114150_c1clu1ayc5.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2114150_c1clu1ayc5.woff') format('woff'),
    url('//at.alicdn.com/t/font_2114150_c1clu1ayc5.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2114150_c1clu1ayc5.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconrose:before {
  content: "\e648";
}

.iconfree:before {
  content: "\e647";
}

.iconrecommended-list:before {
  content: "\e646";
}

.iconhelp-center-icon:before {
  content: "\e645";
}

.iconvalidate:before {
  content: "\e644";
}

.iconofficial-community:before {
  content: "\e643";
}

.iconkefu:before {
  content: "\e642";
}

.iconinvited-user:before {
  content: "\e641";
}

.iconnews:before {
  content: "\e640";
}

.iconrecharge-coin:before {
  content: "\e63f";
}

.iconquick-buy:before {
  content: "\e63e";
}

.iconhome-notice:before {
  content: "\e63d";
}

.iconhome-information:before {
  content: "\e63c";
}

.iconuser-nav:before {
  content: "\e63b";
}

.iconfuzhi:before {
  content: "\e60b";
}